.page {
    width: 396.5px; /* Scaled A4 width */
    height: 561px; /* Scaled A4 height */
    background-color: #ffffff;
  
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #ddd; /* Optional: Border for visual separation */
    page-break-after: always; /* Ensure each page starts on a new page */
    overflow: hidden;
   }
  